{% extends "layout.html.twig" %}

{% block title %} formulaire des categories des articles du Club de Shorinji Kempo de Gennevilliers {% endblock %}

{% block content %}
<img src={{asset('photos/autre/shorinjiKempo_blanc.png')}} width = "100%">
<h1>Ajout de categorie</h1>

    {{ form(formCategorie) }}

{% endblock %}