{% extends 'layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
<div class="mentions">
            <h1>MENTIONS LEGALES</h1>
             <br>
            <p>Conformément aux dispositions des articles 6-III et 19 de la loi n° 2004-575 du 21 Juin 2004 pour la confiance dans l'économie numérique, dite L.C.E.N, nous portons à la connaissance des utilisateurs et visiteurs du site : www.shorinjikempogennevilliers.fr les informations suivantes :</p>
            <p>EDITEUR
             <br>
                Le site www.shorinjikempogennevilliers.fr est la propriété exclusive de Shorinji Kempo Club de Gennevilliers, qui l'édite.
            </p>

            <p>
            <strong>SHORINJI KEMPO CLUB DE GENNEVILLIERS</strong>
             <br>
                ASSOCIATION immatriculée à la préfecture des Hauts-de-Seine sous le numéro 17026249
            </p>

            <p>
            Hameau de Flegny
             <br>
                77320 Saint-Martin-des-Champs
            </p>        
               
            

            <p>Adresse de courier électronique : shorinjikempogennevilliers@gmail.com</p>
            <p>Directeur de la publication : <strong>Serge Cristina</strong>
             <br>
            Email : serge.cristina26@gmail.com
            </p> 
                    
            <strong>HEBERGEMENT</strong>
             <br>
            <p>Le site est hébergé par :
             <br>
            <strong>Inconnu&Cie</strong>
             <br>
            9 rue Jenesépa - BP00000
             <br>
            75000 Paris
{% endblock %}
